<a href="https://colab.research.google.com/github/IhlasulMufti/Machine-Learning/blob/main/Pertemuan_3_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df2=pd.read_csv('/content/drive/MyDrive/UNHAS/Datasets/bensin2.csv')
df2

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

Korelasi Antar-data

In [ ]:
df2.corr(method='pearson')

              Liter  Penumpang    Bagasi  Kecepatan      Suhu  Kilometer
Liter      1.000000  -0.087997  0.097560   0.109370  0.079470   0.700815
Penumpang -0.087997   1.000000  0.081542   0.111942 -0.039954  -0.034175
Bagasi     0.097560   0.081542  1.000000   0.082096 -0.049363  -0.023318
Kecepatan  0.109370   0.111942  0.082096   1.000000 -0.009752   0.042819
Suhu       0.079470  -0.039954 -0.049363  -0.009752  1.000000   0.136657
Kilometer  0.700815  -0.034175 -0.023318   0.042819  0.136657   1.000000

Pemodelan

In [ ]:
import numpy as np
import sklearn.model_selection as ms
X=df2[['Liter','Suhu']]
y=df2[['Kilometer']]
X_train, X_test, y_train, y_test = ms.train_test_split(X,y,test_size=0.2, random_state=0)
import sklearn.linear_model as lm
model1 = lm.LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [ ]:
print('intercept=',model1.intercept_)

intercept= [-107.00860324]

In [ ]:
print('slope=',model1.coef_)

slope= [[6.40716659 3.50902985]]